<div class="container mt-5 text-center">
  <div class="card">
    <div class="card-header">Whoops... The page you were looking for doesn't exist.</div>
    <div class="card-body">
      You may have mistyped the address or the page may have moved.
      <p>If you are the application owner check the logs for more information.</p>
    </div>
    <p>
      <h1><b>404</b></h1> page not found
    </p>
  </div>
</div>
