<div class="container mt-5 text-center">
  <div class="card shadow-sm border-danger text-danger">
    <div class="card-header"><b>Whoops... The page you were looking for doesn't exist.</b></div>
    <div class="card-body">
      You may have mistyped the address or the page may have moved.
      <p> <h1><b>404</b></h1><h5>page not found</h5></p>
    </div>
  </div>
</div>
